# Secrets
.env

# Python Environment
__pycache__/
*.py[cod]
*$py.class
drug_rag_env/
venv/
.ipynb_checkpoints/

# Tests & Cache
.pytest_cache/
.coverage
htmlcov/

# Local Data (ChromaDB)
data/

# Logs & OS Files
*.log
.DS_Store
Thumbs.db